.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

.github/token.txt

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
!src/ontology/reports/release-diff.md
src/ontology/ecao.owl
src/ontology/ecao.obo
src/ontology/ecao.json
src/ontology/ecao-base.*
src/ontology/ecao-basic.*
src/ontology/ecao-full.*
src/ontology/ecao-simple.*
src/ontology/ecao-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-ecao-edit.owl
src/ontology/catalog-v001.xml

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/.gitkeep
!src/ontology/tmp/README.md

src/ontology/run.sh.conf
src/ontology/run.sh.env

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt